<ActionBar title="Details" class="action-bar"></ActionBar>

<StackLayout orientation="horizontal">
    <StackLayout width="35%">
        <Image src="{{movie.getPath()}}" height="125" width="125"></Image>
    </StackLayout>

    <StackLayout width="65%">
        <Label text='{{movie.getTitle()}}' textWrap="true"></Label>
        <Label text='release date: {{movie.getFirst_air_date()}}' textWrap="true"></Label>
        <Label text='{{movie.getOverview()}}' textWrap="true"></Label>
        <Label text="popularity: {{movie.getPopularity()|number:'1.1-2'}}" textWrap="true"></Label>

    </StackLayout>
</StackLayout>